#tooltip {
position:absolute;
z-index:3000;
width:250px;
background-color:#333333;
opacity:0.85;
font-family:Arial;
font-size:13px;
color:#fff;
text-align:center;
}

#tooltip h3 {
background-color:black;
font-weight:bold;
margin-top:0px;
margin-bottom:0px;
}

#tooltip div {
padding:2 2;
}
